// Primary color (tincture)
// $primary-light-translucent: #9775fa40;
// $primary-light: #9775fa;
// $primary-medium: #5f3dc4;
// $primary-dark: #4e388f;

//f06595
$primary-light-translucent: #0ca67840;
$primary-light: #20c997;
$primary-medium: #0ca678;
$primary-dark: #0a7f5f;

// Shades (for text)
$shade-light: #ffffff;
$shade-medium: #495057;
$shade-dark: #343a40;

// Translucent (for backgrounds)
$translucent: #ffffff40;
