// Primary color (tincture)
$primary-light-translucent: #ffec9940;
$primary-light: #22b8cf;
$primary-medium: #1098ad;
$primary-dark: #0b7285;

// Shades (for text)
$shade-light: #ffffff;
$shade-medium: #495057;
$shade-dark: #343a40;

// Translucent (for backgrounds)
$translucent: #ffffff40;
