@media (max-width: 600px) {
  .main {
    justify-content: flex-start;
    .countdown {
      width: 100%;
      border-radius: 0;

      .countdown-group {
        width: 100%;
        flex-direction: column;
        gap: 0.4rem;

        .countdown-item {
          width: 100%;
          flex-direction: row;
          background-color: darkslategray;

          .countdown-item-number {
            background-color: none;
            margin-bottom: 0;
            width: auto;
          }

          .countdown-item-label {
            color: lightslategray;
          }
        }
      }
    }
  }
}
